  :root{
    --preto1: #181818;
    --ouro: #fec625;
    --branco: #fff;
    --fonte3:Consolas, 'Courier New', monospace; 
  }
  
  .cabecalho{
    height: 100vh;
    width: 100%;
    /*background: #181818 url(../img/hero/herodesk.png);*/
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    max-height: 1000px;
  }

  .navBar{
    position: fixed;
    display: grid;
    grid-template-columns: 8% 1fr 1.fr 8%;
    grid-template-areas: "none logo menu none1";
    padding: 10px 10%;
    width: 100%;
    maxheight: 1200px;
    box-shadow: 0px 0px 12px rgba(0,0,0, .68);
    background: var(--preto1);
    align-items: center;
    z-index: 10;
    transition: 0.4s ease-in-out;
  }

  .logo{
    grid-area: logo;
    position: relative;
    transition: 0.5s ease-in-out;

  }

  .logo img{
    width: 120px;
    margin-bottom: -4px;
  }

  .navbar{
    position: relative;
    align-items: center;
    text-align: right;
    grid-area: menu;
    justify-content: end;
    height: 55px;
    margin-left: 10%;
    padding: 0px;
    color: #181818;
  }

  .navBar .navbar ul{
    display: flex;
    float: left;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0px;
  }

  .navBar .navbar ul li{
    display: inline-block;
    padding: 5px 10px;
    background: none;
    border: none;
    margin: 0px 5px;
    
    transition: transform .7s ease-in-out;
  }


  .navBar .navbar ul li a{
    font-size: 12px;
    display: block;
    color: var(--branco);
    font-weight: 300;
    letter-spacing: 1px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
  }

  .listaBranco{
    color: #fff;
  }

  .navbar ul li .active, .navbar ul li a:hover{
    border-bottom: 2.6px solid var(--ouro);
    transition: all .3s ease-in-out;
  }

  .btn--resp{
    height: 57px;
  }

  .menu {
    width: 60px;
    height: 60px;
    display: none;
    transform: translateX(-25px);
  }
  
  .hamburguer {
    position: relative;
    display: block;
    background: var(--ouro);
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    
    transition: 0.5s ease-in-out;
  }
  
  .hamburguer:before,
  .hamburguer:after {
    background: var(--ouro);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
  }
  
  .hamburguer:before {
    top: -10px;
  }
  
  .hamburguer:after {
    bottom: -10px;
  }
  
  input {
    display: none;
  }

  
  input:checked ~ label .hamburguer {
    transform: rotate(45deg);
  }
  
  input:checked ~ label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
  }
  
  input:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
  }

  #menu{
    margin: -5px;
  }

  /**.checkbtn{
    grid-area: menu;
    float: right;
    margin-right: 15px;
    margin-top: 5px;

  }
  
  label #btn, label #cnlc{
    color: var(--branco);
    font-size: 30px;
    float: rigth;
    font-weight: 300;
    line-height: 40px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  label #btn, label #cnlc{
    display: none;
    
  }
  
  #check{
    position: absolute;
    display: none;
  }*/

  /*.aparecer{
    transition: all ease-in .5s;
  }

  .desaparecer{
    opacty: 0;
    
    display: none;
  }*/

  
  /*HERO SIDE*/
  .hero{
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    /*transform: translateY(30%);*/
    color: var(--branco);
    background: var(--preto1);
    width: 100%;
    min-height: 300px;
    
    
  }

  .hero .txt{
    
    text-align: center;
    /*background: --preto;*/
    width: 70vw;
    height: 100vh;
    
    align-content: center;
    align-items: center;
    text-align: center;
    padding-top: 200px;
    background: linear-gradient(to right, #1d1d1d, var(--preto1) );
  }

  .hero .txt .apresentacao{
    font-family: var(--fonte3);
    position: relative;
    display: flex;
    flex-direction: column;

  }

  .hero .txt .apresentacao #apresentacao1{
    font-family: var(--fonte3);
    font-size: 55px;
    font-weight: bolder;
    letter-spacing: 3px;
    color: var(--ouro);
    margin: 0px;
    margin-bottom: 15px;
  }
  
  .hero .txt .apresentacao #apresentacao2{
    font-size: 55px;
    font-weight: bolder;
    letter-spacing: 3px;
    color: var(--ouro);
    margin: 0px;
    margin-bottom: 15px;
  }

  /*.hero .txt .apresentacao #apresentacao1::after,.hero .txt .apresentacao #apresentacao2::after{
    content: "";
    position: absolute;
    height: 40%;
    border-right: 4px solid var(--ouro);
    text-align: center;
    animation: escritor .7s infinite ease-in-out;
  }*/

  .activeEscritor::after{
    content: "";
    position: absolute;
    height: 70px;
    border-right: 4px solid var(--ouro);
    text-align: center;
    animation: escritor .7s infinite ease-in-out;
  }
 

  .hero .txt :nth-child(2){
    font-family: var(--fonte3);
    font-size: 21px;
    margin-bottom: 25px;
    color: var(--branco);
  }

  /*.hero .txt :nth-child(2)::after{
    content: "";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 5%;
    border-right: 9px solid var(--branco);
    z-index: 10;
  }*/

  @keyframes escritor {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  .hero .txt #heroBtn{
      font-size: 14px;
      font-weight: 550;
      text-transform: uppercase;
      padding: 13px 25px;
      margin-top: 20px;
      background: var(--ouro);
      border: none;
      border-radius: 35px;
      box-shadow: 0px 0px 5px rgba(245, 245, 245, .8);
      color: var(--branco);
      outline: none;
  }

  .hero .img{
    grid-area: img; 
    
    text-align: left;
    align-content: center;
    align-items: center;
    text-align: center;
    background: var(--ouro);
    width: 30vw;
    height: 100vh;
    left: 40%;
  }

  .hero .img img{
    max-width: 300px;
    padding-top: 35%;
  }


  @media (max-width: 1100px){
    .navBar{
      display: grid;
      grid-template-columns: 3% 1fr 1.fr 3%;
      
      padding: 10px 3%;
      
    }
    .navbar{
      margin-left: 6%;
    }
  }
 

  @media (max-width: 800px){
    .navBar{
      display: grid;
      grid-template-columns: 10% 1fr 1.fr 10%;
      grid-template-areas: "logo none none1 menu";
      padding: 0px 10%;
      width: 100%;
      box-shadow: 0px 0px 12px rgba(0,0,0, .68);
      background: --preto1;
      align-items: center;
      z-index: 10;
    }

    .navbar .btn--resp{
      padding-left: 70%;
    }
  

    .navbar .menu--list__list ul li{
      display: none;
    }

    .btn--resp{
      grid-area: menu;
    }

    label #btn{
      display: block;
      
    }
    

    .navbar .menu--list__list ul{
     position: fixed;
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 100%;
     /*background: rgba(0, 0, 0, .9); */
     background: rgba(33, 33, 33, .97);
     top: 60px;
     left: -100%;
     text-align: center;
     align-content: center;
     transition: all .5s ease-in-out;
     z-index: 9;
    }

    .navbar .menu--list__list ul li{
     display: block;
     margin: 0 auto;
     margin-top: 25px;
     padding: 10px;
     text-align: center;
    }
    input{
      
    }
    input:checked ~ .hero .txt{
      left: 0px;
      background: linear-gradient(to bottom, #1d1d1d, #fec625);
    }


    .menu {
      display: block;
      
    }

    

    /*.navbar .btn--resp #check:checked ~ .navbar .menu--list__list ul{
      left: 200px;
      flex-direction: row;
    }
    
    .navbar .btn--resp #check:checked ~ label #btn{
      display: none;
    }
    
    .navbar .btn--resp #check:checked ~ label #cnlc{
      display: block;
    }*/

    .hero img{
      margin-left: 0px;
    }
  }

  @media (max-width: 990px){
    .hero img{
      margin-left: -50px;
    }
  }
  

  @media (max-width: 840px){
    .cabecalho{
      /*background: --preto1 url(../img/hero/heromob.png);*/
      background-size: 870px;
      background-position: center center;
      background-repeat: no-repeat;
      object-fit: cover;
      background: var(--preto1);
    }

    .hero{
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: 100%;
    }
  
    .hero .txt{
      position: relative;
      grid-area: texto; 
      padding-top: 100px;
      padding-bottom: 70px;
      background: linear-gradient(to bottom, #1d1d1d, var(--preto1) );
      width: 100%;
      height: 70vh;
    }

    .hero .txt :nth-child(1){
      font-size: 34px;
    }

    .hero .txt :nth-child(2){
      font-size: 17px;
    }

    .hero .txt :nth-child(3){
      font-size: 14px;
    }

    .hero .img img{
      position: relative;
      padding-top: 0px;
      width: 200px;
      top: 50%;
      transform: translate(0%, -50%);
      margin: 0px;
      padding: 0px;
    }

    .hero .img{
      position: relative;
      width: 100%;
      height: 70%;
      left: 0;
      margin: 0px;
      padding: 0px;
      
    }
  }

  

  .hero .txt :nth-child(2){
    font-size: 15px;
  }

  .hero .txt :nth-child(3){
    font-size: 13px;
  }

  .hero .img img{
    
    width: 170px;
    
  }
 

